'use strict';
/*
// RELATIVE PATH
'./test/custom/script-pre.js'

// RELATIVE PATH FROM `source`
'test/custom/script-pre.js'

// ALL FILES IN PATH
'./test/js/*.js'

// ALL FILES IN PATH RECURSIVELY
'./test/js/** /*.js' // WITH NO SPACE

// ABSOLUTE PATH
'/Users/me/Sites/compressor/test/custom/script-post.js'
*/
module.exports = require('/var/www/html/master/templates/admin/config.js');

/* ATAU BISA MENENTUKAN LANGSUNG SEPERTI DI BAWAH */

module.exports = {
	css: [ // mengambil semua file css yang akan dicompress menjadi file dengan nama yang ada di `.dest.path`+'css/'+`.dest.css`
		"custom/bootstrap-pre.css",
		"./node_modules/bootstrap/dist/css/bootstrap.css",
		"custom/bootstrap-post.css"
	],
	scss: [ // mengambil semua file scss kemudian meng-compile lalu dicompress menjadi file dengan nama yang ada di `.dest.path`+'css/'+`.dest.css`
	],
	font: [ // mengcopy semua font ke dalam `.dest.path`+'fonts/'
		"./node_modules/bootstrap/fonts/*",
		"github/Font-Awesome/fonts/*"
	],
	js: [ // mengambil semua file js yang akan dicompress menjadi file dengan nama yang ada di `.dest.path`+'js/'+`.dest.js`
		"custom/bootstrap-pre.js",
		"custom/jquery.min.js",
		"./node_modules/bootstrap/dist/js/bootstrap.js",
		"custom/bootstrap-post.js",
	],
	copy: { // mengumpulkan file apa saja yang akan di copy atau di compress
		"css": [ // file-file yang akan di tempatkan di path `.dest.path`+'css/'
			"css/alert.css", // contoh mengcopy file biasa dengan hasil penamaan sama
			"css/datepicker.css",
			"css/datetimepicker.css",
			{ // contoh mengcopy file serta mengcompress dengan hasil penamaan yang berbeda $file_tujuan : $file_sumber
				"bootstrap-theme.min.css": "./node_modules/bootstrap/dist/css/bootstrap-theme.css",
				"font-awesome.min.css": "github/Font-Awesome/css/font-awesome.css",
				"colorpicker.css": "github/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css"
			}
		],
		"js": [ // file-file yang akan di tempatkan di path `.dest.path`+'js/'
			{
				"alert.js": "js/alert.js",
				"datepicker.js": "js/datepicker.js",
				"datetimepicker.js": "js/datetimepicker.js",
				"rating.js": "js/rating.js",
				"colorpicker.js": "github/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"
			}
		],
		"img": [ // meng-copy file biasa tanpa mengcompress dan akan ditempatkan di path `.dest.path`+'img/'
			"img/spinner.gif",
			"github/bootstrap-colorpicker/dist/img/**"
		]
	},
	source: "/Users/me/Sites/php/bootstrap/", // menentukan doc_root yang akan di compress jika dinamis isikan saja __dirname+"/"
	dest: {
		path: __dirname + "/bootstrap/", // menentukan path tujuan
		css: "bootstrap.min.css", // menentukan nama hasil compress dari semua css dan scss
		js: "bootstrap.min.js" // menentukan nama hasil compress dari semua file js
	},
	jscompress : 2, // 1=uglify, 2=packer
	watch : 0 // 1=recompile when changes, 0=compile only
}