'use strict';
/*

// RELATIVE PATH
'./test/custom/script-pre.js'

// ALL FILES IN PATH
'./test/js/*.js'

// ALL FILES IN PATH RECURSIVELY
'./test/js/** /*.js' // WITH NO SPACE

// ABSOLUTE PATH
'/Users/me/Sites/compressor/test/custom/script-post.js'

*/
module.exports = {
	js: [
		'./test/custom/script-pre.js',
		'./test/js/*.js',
		'/Users/me/Sites/compressor/test/custom/script-post.js'
		],
	css: [
		'./test/custom/style-pre.css',
		'./test/css/*.css',
		'/Users/me/Sites/compressor/test/custom/style-post.css'
		],
	scss: [
		'./test/**/*.scss'
		],
	font: [
		],
	destination: "dest",
	jscompress : 1 // 1=uglify, 2=packer, 3=inline
}